anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
black
bleach
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fonttools
idna
importlib-metadata
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pathspec
pickleshare
Pillow
pip
platformdirs
prometheus-client
prompt-toolkit
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
pyzmq
qtconsole
QtPy
requests
scipy
Send2Trash
setuptools
six
sniffio
stack-data
terminado
testpath
tomli
tornado
traitlets
typing_extensions
urllib3
voila
voila-material
wcwidth
webencodings
websocket-client
websockets
wheel
widgetsnbextension
wincertstore
xlrd
zipp
