ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
Markdown
matplotlib
matplotlib-inline
numpy
pandas
scipy
voila
voila-material
xlrd